<h1>仕事</h1>

<table class="table_base">
  <thead>
    <tr>
      <th>職種</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.jobname, job %></td>
        <!-- <td><%= link_to '削除', job, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td>削除(管理者のみ)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい仕事を登録', new_job_path %>
